<div class ="side_header">
  <div class = "current_user_name">
    <%# <a href = "#">にゃー</a> %>
    <%= link_to current_user.name, edit_user_path(current_user) %>
  </div>
  <div class = "new_chat">
    <%# <a href = "#">チャットを作成する</a> %>
    <%= link_to "チャットを作成する", new_room_path %>
  </div>
</div>

<div class = "side_menu">
  <div class = "chat_room">
    <% current_user.rooms.each do |room| %>
    <%# <%= link_to "room.name"%> 
    <%# <% end %> 
    <a href = "#"><%= room.name %></a>
    <%# <a href = "#">testroom2</a> %>
    <% end %>
  </div>
</div>